doctype html
html(lang='en')
  block vars
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name = "description" content = "A student-driven independent project on Chinese and Russian digital propaganda and censorship at Phillips Academy.")
    meta(name = "author" content = "Jeffrey Shen, Miles McCain")
    title #{title} | Russia | Digital Propaganda &amp; Censorship 
    link(rel = "icon" type = "image/png" sizes = "32x32" href = "/assets/graphics/icon/favicon.png")
    link(href='/bower_components/bulma/css/bulma.min.css' rel='stylesheet' type='text/css')
    link(href='/bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css' rel='stylesheet' type='text/css')
    link(href='/dist/CSS/blog.css', rel='stylesheet', type='text/css')
  body
    include ../components/header.pug
    include ../components/components.pug
    #body
      .has-text-centered
        br
        a(href = "/russia").tag-a 
          span.tag.heading #{tag}
        h1.is-size-2.title #{title}
        span.subtitle.is-size-4 #{subtitle}
        br
        br
      if featured_image_url
        +img_full(featured_image_url, featured_image_alt, featured_image_caption, featured_image_credit) 
      span.byline <a href = "https://rmrm.io">Miles McCain</a> and <a href = "http://jeffreyshen.com">Jeffrey Shen</a>
      span.heading.date #{date}
      hr  
      block body
    script(src='/bower_components/jquery/dist/jquery.min.js')
    noscript
      img(src="//shynet.rmrm.io/ingress/03c23461-c433-48f9-8ee9-7f3da5edf55b/pixel.gif")
    script(src="//shynet.rmrm.io/ingress/03c23461-c433-48f9-8ee9-7f3da5edf55b/script.js")
    block scripts
